/*******************************
 *  Common part
 *******************************/

html {
}

body{
    padding:0;
    margin:0;
    width: 100%;
    height: 100%;
    position: relative;
    /*font-size: 8pt;*/
    font-size: 11px;
    font-family: sans-serif;
}
table, td, tr, thead, tfoot, tbody, th, tf
{
   border-collapse: collapse;
   margin: 0px;
   padding: 0px;
}
label
{
   color:#707070;
}     
input[type=text], input[type=password], textarea, select
{
   border: solid 1px #202020;
   width: 150px;
   background-color: #fcfcc0;
   font-size: 1em;
   margin: 3px;
}
.hidden
{
   display: none;
}
.label
{
   margin-top: 0.5em;
   color:#707070;
}
.hint
{
   color: blue;
   font-size: 1em;
}
.rhint
{
   color: red;
   font-size: 1em;
}


/*******************************
 *  Head
 *******************************/

#headLine
{
   border-bottom: 2px solid #d0d0d0;
   height: 3em;
}
.logo
{
   font-family: serif;
}
#siteTitle
{
   color: yellow;
   font-family: serif;
   font-size: 1.5em;
   float: left;
   padding: 0.35em;
   background-color: #6060f0;
}
#statusMsg
{
   background-color: #FFFBCC;
   border: solid 1px #E6DB55;
   padding: 3px;
   margin: 3px;
}


/*******************************
 *  Tabs
 *******************************/

.tab
{
   font-size: 13px;
   padding: 3px;
   margin: 2px;
   margin-bottom: 3px;
   background-color: #e7e7e7;
   color: #474747;
   border-top: 3px solid white;
}
.tab:hover
{
   border-top: 3px solid #909090;
   border-right: 1px dotted black;
   margin-right: 1px;
   color: black;
}
.tabSelected
{
   border-bottom: 2px solid #e7e7e7;
   margin-bottom: 0;
}
.tabBreak
{
   margin-top: 5px;
   width: 100%;
   height: 1em;
   background: #d0d0d0;
}


/*******************************
 *  Toolbar
 *******************************/

.toolbar
{
   padding-top: 3px;
   border-bottom: 1em solid #e4f4e4;
   height: 28px;
}
.toolbar select, .toolbar input
{
   float: left;
}
.toolbar label
{
   float: left;
   margin: 3px;
}


/*******************************
 *  loggedContainer
 *******************************/

#loggedContainer
{
   padding:0.5em;
   float: right;
}
#loggedContainer
{
   display: none;
}
#logoutNow
{
   float: none;
}


/*******************************
 *  pageContent
 *******************************/

#pageContent
{
   padding: 5px;
}


/*******************************
 *  welcomePage
 *******************************/

.centerWrapper {
   width: 250px;
   margin-left: auto;
   margin-right: auto;
}

.thirdPart
{
   width: 33%;
   float: left;
}

#welcomePage input, #welcomePage input[type=password], #welcomePage textarea, #welcomePage select
{
   font-size: 1.2em;
   margin: 3px;
   width: 200px;
   text-align: center;
}
.welcomeText
{
   font-size: 1.1em;
   padding: 1em;
}


/*******************************
 *  loginContainer
 *******************************/

#loginContainer
{
   margin-top: 1em;
   padding:0.5em;
   width: 30%;
   font-family: sans-serif;
   text-align: center;
   float: left;
}
#loginContainer #loginButton
{
   margin: 0.5em;
   float: left;
}
#loginContainer  #openRegister
{
   margin: 0.5em;
   float: right;
}
#loginContainer  #openRecover
{
   font-size: 1em;
   float: right;
   margin-right: 20px;
}


/*******************************
 *  registerContainer
 *******************************/

#registerContainer
{
   margin-top: 1em;
   padding: 0.5em;
   width: 30%;
   font-family: sans-serif;
   text-align: center;
   float: left;
   display: none;
}
#registerContainer img
{
   padding-top: 5px;
}
#registerContainer #registerButton
{
   margin: 0.5em;
   float:left;
}
#registerContainer #closeRegister
{
   margin: 0.5em;
   float: right;
}


/*******************************
 *  recoverContainer
 *******************************/

#recoverContainer
{
   margin-top: 1em;
   padding: 0.5em;
   width: 30%;
   font-family: sans-serif;
   text-align: center;
   float: left;
   display: none;
}
#recoverContainer img
{
   padding-top: 5px;
}
#recoverContainer #recoverButton
{
   margin: 0.5em;
   float:left;
}
#recoverContainer #closeRecover
{
   margin: 0.5em;
   float: right;
}


/*******************************
 *  mainDesk
 *******************************/

#mainDesk
{
   display: none;
}
#mainDesk, #activTabs
{
   margin-top: 1em;
}
#docNavigator, #docEditor, #entEditor, #destinations
{
   display:none;
}


/*******************************
 *  Other
 *******************************/

#docTitle
{
   width: 500px;
}
#docAnnotation
{
   width: 500px;
   height: 5em;
   display: block;
}
#docText
{
   border: solid 1px #202020;
}

#docSelector
{
   float: left;
   margin-right: 2em;
   padding-right: 2em;
   width: 25%;
}

#docView
{
   float: left;
   margin-left: 2em;
   width: 70%;
}

#docSelect
{
   width: 100%;
   border-collapse: collapse;
}
#docSelect th
{
   background: #e7e7e7;
}
#docSelect td, #docSelect th
{
   border: solid 1px #d0d0d0;
}

#docSave
{
  float: left;
}

#viewToggleAnno, #viewEditDocument
{
   display: inline;
}

.docSearchResultRow:hover, .tab:hover, .hint:hover, .rhint:hover
{
   cursor: pointer;
}

#viewId, #viewRev
{
   display: none;
}
#viewTitlle, #viewToggleAnno, #viewEditDocument
{
   display: inline;
}
#docViewText
{
   border-top: 2px solid #606060;
}

#viewInfo
{
}

.viewInfoRow
{
   margin-top: 1em;
   margin-bottom: 1em;
}
.viewField
{
   /* border: solid 1px #d0d0d0; */
   width: 500px;
   /* background-color: #fcfcc0; */
   font-size: 1em;
   /* margin-bottom: 1em; */
   padding: 2px;
}
#viewAnnotation
{
   /* border: solid 1px #d0d0d0; */
   background-color: #fcfcc0;
   font-size: 1em;
   padding: 2px;
}

#destList
{
   float: left;
   margin-right: 2em;
   padding-right: 2em;
}
#destEdit, #accEdit
{
   float: left;
   display: none;
}
#destNewName, #destName
{
   width: 200px;
}
#destNew
{
   float: right;
}
#destNewName
{
   font-size: 1em;
}
#destAnno
{
   width: 400px;
}

#destDeleteConfirm, #destNew
{
   display: none;
}
#destTree
{
   clear: left;
}


/*******************************
 *  entEditor
 *******************************/

#entInfo
{
    display: none;
}

.fieldscroll
{
   width: 70%;
   height: 30em;
   overflow: auto;
}

.fieldlist
{
   width: 99%;
   margin: 1px;
   border-collapse: collapse;
}
.fieldlist th
{
   background: #e7e7e7;
   border-top: solid 1px #d0d0d0;
   border-bottom: solid 1px #d0d0d0;
   padding: 3px;
}
.fieldlist td
{
   border-top: solid 1px #d0d0d0;
   border-bottom: solid 1px #d0d0d0;
   padding: 3px;
   padding-top: 1em;
}
.fieldlist input
{
   margin: 0;
}
.fld-ctl
{
   width: 16px;
   vertical-align: top;
}
.fld-name
{
   font-weight: bold;
   width: 20%;
   vertical-align: top;
}
.fld-valctl
{
   vertical-align: top;
   width: 1em;
}
.fld-values
{
   border-left: solid 1px #d0d0d0;
}

#entFields input
{
   border: inset 1px #f0f0f0;
   background-color: #fdfdd0;
   width: 99%;
}


.valuelist
{
   width: 100%;
}
.valuelist td
{
   border: 0;
   padding-top: 0;
}
.val-ctl
{
    vertical-align: top;
    width: 1em;
}
.val-value
{
   color: #339933;
   background-color: #f7f7f7;
   margin: 3px;
   /*border: solid 1px #d0d0d0;*/
}

.valuename
{
   color: #993333;
   margin-right: 0.5em;
   font-weight: bold;
}

.valueval, .valuetype
{
   display: none;
}

#entValueSelector select
{
   float: left;
}

#entValueSelector .bapply, #entValueSelector .bcancel
{
   margin-top: 5px;
}
