html {
}

body{
    padding:0;
    margin:0;
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 8pt;
    font-family: sans-serif;
}

label
{
   color:#707070;
}     
input[type=text], input[type=password], select
{
   font-size: 1.2em;
   border: solid 1px #202020;
   width: 150px;
   background-color: #fcfcc0;
}
textarea
{
   font-size: 1.2em;
   border: solid 1px #202020;
   width: 150px;
   background-color: #fcfcc0;
}
.label
{
   margin-top: 0.5em;
   color:#707070;
}
.tab
{
   font-size: 13px;
   padding: 3px;
   margin: 2px;
   margin-bottom: 3px;
   background-color: #e7e7e7;
   color: #474747;
   border-top: 3px solid white;
}
.tab:hover
{
   border-top: 3px solid #909090;
   border-right: 1px dotted black;
   margin-right: 1px;
   color: black;
}
.tabSelected
{
   border-bottom: 2px solid #e7e7e7;
   margin-bottom: 0;
}
.tabBreak
{
   margin-top: 5px;
   width: 100%;
   height: 1em;
   background: #d0d0d0;
}
.toolbar
{
   padding-top: 3px;
   border-bottom: 1em solid #e4f4e4;
   height: 28px;
}
.hint
{
   color: blue;
}

#headLine
{
   border-bottom: 2px solid #d0d0d0;
   height: 3em;
}
.logo
{
   font-family: serif;
}
#siteTitle
{
   color: yellow;
   font-family: serif;
   font-size: 1.5em;
   float: left;
   padding: 0.35em;
   background-color: #6060f0;
}

#loggedContainer
{
   padding:0.5em;
   float: right;
}
#loggedContainer
{
   display: none;
}
#logoutNow
{
   float: none;
}

#loginContainer
{
   margin-top: 1em;
   padding:0.5em;
   width: 30%;
   font-family: sans-serif;
   text-align: center;
   float: left;
}
#loginContainer #loginButton
{
   margin: 0.5em;
   float: left;
}
#loginContainer  #openRegister
{
   margin: 0.5em;
   float: right;
}
#loginContainer input[type=text], #loginContainer input[type=password], select
{
   border: solid 1px #202020;
   width: 200px;
   text-align: center;
}

.centerWrapper {
   width: 250px;
   margin-left: auto;
   margin-right: auto;
}

#registerContainer
{
   margin-top: 1em;
   padding: 0.5em;
   width: 30%;
   font-family: sans-serif;
   text-align: center;
   float: left;
   display: none;
}
#registerContainer input[type=text], #registerContainer input[type=password], select
{
   border: solid 1px #202020;
   width: 200px;
}
#registerContainer img
{
   padding-top: 5px;
}
#registerContainer #registerButton
{
   margin: 0.5em;
   float:left;
}
#registerContainer #closeRegister
{
   margin: 0.5em;
   float: right;
}

#pageContent
{
   padding: 5px;
}
#pageContent input, #pageContent textarea, #pageContent select
{
   margin: 3px;
}

#welcomePage
{
}
.welcomeText
{
   font-size: 1.1em;
   padding: 1em;
}

#docNavigator, #docEditor, #destinations
{
   display:none;
}

#docTitle
{
   width: 500px;
}
#docAnnotation
{
   width: 500px;
   height: 5em;
   display: block;
}
#docText
{
   border: solid 1px #202020;
}

#mainDesk
{
   display: none;
}
#mainDesk, #activTabs
{
   margin-top: 1em;
}
#docNavigator, #docEditor
{
}

#docSelector
{
   float: left;
   margin-right: 2em;
   padding-right: 2em;
}

#docView
{
   float: left;
   margin-left: 2em;
   width: 70%;
}

#docSelect
{
   background: #707070;
   width: 100%;
}

#docSelect td, th
{
   background: #e7e7e7;
}

#docSave
{
  float: left;
}

#viewToggleAnno, #viewEditDocument
{
   display: inline;
}

.thirdPart
{
   width: 33%;
   float: left;
}

.docSearchResultRow:hover, .tab:hover, .hint:hover
{
   cursor: pointer;
}

#viewId, #viewRev
{
   display: none;
}
#viewTitlle, #viewToggleAnno, #viewEditDocument
{
   display: inline;
}
#docViewText
{
   border-top: 2px solid #606060;
}

#viewInfo
{
}

.viewInfoRow
{
   margin-top: 1em;
   margin-bottom: 1em;
}
.viewField
{
   /* border: solid 1px #d0d0d0; */
   width: 500px;
   /* background-color: #fcfcc0; */
   font-size: 1em;
   /* margin-bottom: 1em; */
   padding: 2px;
}
#viewAnnotation
{
   /* border: solid 1px #d0d0d0; */
   background-color: #fcfcc0;
   font-size: 1em;
   padding: 2px;
}

#destList
{
   float: left;
   margin-right: 2em;
   padding-right: 2em;
}
#destEdit, #accEdit
{
   float: left;
   display: none;
}
#destNewName, #destName
{
   width: 200px;
}
#destNew
{
   float: right;
}
#destNewName
{
   font-size: 0.9em;
}
#destAnno
{
   width: 400px;
}

#destDeleteConfirm, #destNew
{
   display: none;
}
#destTree
{
   clear: left;
}

#statusMsg{
   background-color: #FFFBCC;
   border: solid 1px #E6DB55;
   height: 1.5em;
   margin: 3px;
}
